@mixin boxshadow{
  -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}
%messages {
  border: 1px solid #ccc;
  padding: 10px;
  color: #2748B3;
  background-color: #000;
  width: 100%
}
%alignment{
  text-align: center;
}
$red : 16px;
$blue : 8px;

.success{
  @extend %messages;
  background-color: green;
}

.warning{
  @extend %messages;
  background-color: orange;
}

.error{
  @extend %messages;
  background-color: red;
}


footer {
  h6{
    padding: $red * 2 ;
  }
}